@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Grupo Nasa</h1>
    <br />
    <br />
    <br />
    <img src="https://th.bing.com/th/id/R.93a90aa4741fade0523141605769dbff?rik=mJMAYRfCKzyzTg&riu=http%3a%2f%2fnasa.estuder.com.mx%2fpluginfile.php%2f1%2ftheme_maker%2flogo%2f1594733424%2flogo-grupo-nasa.png&ehk=tQ708v44WSaLXkDKU%2fyJC%2fJUMs%2f368sK2iB2VfRHEyY%3d&risl=&pid=ImgRaw&r=0" style="width: 185px;" alt="logo">
    <br />
    <br />
    <p>Crea una cuenta <a asp-controller="user" asp-action="Register">Registrate</a> o Inicia Sesion. <a asp-controller="user" asp-action="Login">Login</a></p>

</div>
